<div style="background: #d8feff;">
    <ul *ngFor="let acc of firstOrderAccounts">
        <li>
            {{acc.name}}
        </li>
    </ul>
</div>

<div style="background: #c1fcff;">
    <ul *ngFor="let acc of secondOrderAccounts">
        <li>
            {{acc.name}}
        </li>
    </ul>
</div>

<div style="background: #9bfaff;">
    <ul *ngFor="let acc of thirdOrderAccounts">
        <li>
            {{acc.name}}
        </li>
    </ul>
</div>

<div style="background: #5bf7ff;">
    <ul *ngFor="let acc of fourthOrderAccounts">
        <li>
            {{acc.name}}
        </li>
    </ul>
</div>

<div style="background: #0ff3ff;">
    <ul *ngFor="let acc of fifthOrderAccounts">
        <li>
            {{acc.name}}
        </li>
    </ul>
</div>